# Local
GHOST_URL=http://localhost:2368
MYSQL_ROOT_PASSWORD=change-me
MYSQL_PASSWORD=change-me

# Prod
# GHOST_URL=https://your-domain.com
# MYSQL_ROOT_PASSWORD=strong-password
# MYSQL_PASSWORD=strong-password
